In [12]:
import numpy as np
import pandas as pd

data = {
'Student': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charlie','Alice', 'Bob', 'Charlie','Alice', 'Bob', 'Charlie','Alice', 'Bob', 'Charlie'],
'Subject': ['Math', 'Math', 'Math', 'Science', 'Science', 'Science', 'English', 'English', 'English','Math', 'Math', 'Math','English', 'English', 'English','Science', 'Science', 'Science'],
'Score': [85, 90, 95, 80, 70, 75, 88, 92, 85, 88, 85, 77, 78, 89, 84, 79, 87, 88]
}
df = pd.DataFrame(data)
print(df)

    Student  Subject  Score
0     Alice     Math     85
1       Bob     Math     90
2   Charlie     Math     95
3     Alice  Science     80
4       Bob  Science     70
5   Charlie  Science     75
6     Alice  English     88
7       Bob  English     92
8   Charlie  English     85
9     Alice     Math     88
10      Bob     Math     85
11  Charlie     Math     77
12    Alice  English     78
13      Bob  English     89
14  Charlie  English     84
15    Alice  Science     79
16      Bob  Science     87
17  Charlie  Science     88

In [13]:
df.groupby("Subject")["Score"].mean()

Subject
English    86.000000
Math       86.666667
Science    79.833333
Name: Score, dtype: float64

In [14]:
df.groupby("Student")["Score"].mean()

Student
Alice      83.0
Bob        85.5
Charlie    84.0
Name: Score, dtype: float64

In [19]:
df.groupby(["Student","Subject"])["Score"].mean()

Student  Subject
Alice    English    83.0
         Math       86.5
         Science    79.5
Bob      English    90.5
         Math       87.5
         Science    78.5
Charlie  English    84.5
         Math       86.0
         Science    81.5
Name: Score, dtype: float64