In [5]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame({
'key': ['A', 'B', 'C'],
'value1': [1, 2, 3]
})

df2 = pd.DataFrame({
'key': ['A', 'B', 'D'],
'value2': [4, 5, 6]
})

print("df1\n",df1)
print("df2\n",df2)

df1
   key  value1
0   A       1
1   B       2
2   C       3
df2
   key  value2
0   A       4
1   B       5
2   D       6

In [8]:
pd.merge(df1,df2, on = "key")

  key  value1  value2
0   A       1       4
1   B       2       5

In [9]:
pd.merge(df1, df2, on = "key", how = "outer")

  key  value1  value2
0   A     1.0     4.0
1   B     2.0     5.0
2   C     3.0     NaN
3   D     NaN     6.0

In [11]:
df1 = pd.DataFrame({
'A': ['foo', 'bar'],
'B': [1, 2]
})

df2 = pd.DataFrame({
'A': ['baz', 'qux'],
'B': [3, 4]
})

print("df1\n",df1)
print("df2\n",df2)

df1
      A  B
0  foo  1
1  bar  2
df2
      A  B
0  baz  3
1  qux  4

In [16]:
pd.concat([df1,df2])

pd.concat([df1,df2], ignore_index = False, keys=["A","B"])

       A  B
A 0  foo  1
  1  bar  2
B 0  baz  3
  1  qux  4

In [ ]:
#Unisci df1 e df2 sulle colonne 'chiave1' e 'chiave2' includendo tutte le righe di df1. Qual Ã¨ il DataFrame risultante?

df1 = pd.DataFrame({
'chiave1': ['K0', 'K1', 'K2'],
'chiave2': ['K0', 'K1', 'K0'],
'A': ['A0', 'A1', 'A2']
})

df2 = pd.DataFrame({
'chiave1': ['K0', 'K1', 'K3'],
'chiave2': ['K0', 'K0', 'K0'],
'B': ['B0', 'B1', 'B3']
})

print("df1\n",df1,"\n")
print("df2\n",df2)

df1
   chiave1 chiave2   A
0      K0      K0  A0
1      K1      K1  A1
2      K2      K0  A2

df2
   chiave1 chiave2   B
0      K0      K0  B0
1      K1      K0  B1
2      K3      K0  B3

In [23]:
pd.merge(df1,df2, on = ["chiave1", "chiave2"], how = "left")

  chiave1 chiave2   A    B
0      K0      K0  A0   B0
1      K1      K1  A1  NaN
2      K2      K0  A2  NaN

In [24]:
df1.combine_first(df2)

    A   B chiave1 chiave2
0  A0  B0      K0      K0
1  A1  B1      K1      K1
2  A2  B3      K2      K0

In [26]:
#Combina df1 e df2 affiancandoli, allineando gli indici.

df1 = pd.DataFrame({
'A': ['A0', 'A1', 'A2'],
'B': ['B0', 'B1', 'B2']
}, index=[0, 1, 2])

df2 = pd.DataFrame({
'C': ['C0', 'C1', 'C2'],
'D': ['D0', 'D1', 'D2']
}, index=[0, 2, 3])

print("df1\n",df1,"\n")
print("df2\n",df2)

df1
     A   B
0  A0  B0
1  A1  B1
2  A2  B2

df2
     C   D
0  C0  D0
2  C1  D1
3  C2  D2

In [28]:
pd.concat([df1,df2], axis = "columns", ignore_index = False)

     A    B    C    D
0   A0   B0   C0   D0
1   A1   B1  NaN  NaN
2   A2   B2   C1   D1
3  NaN  NaN   C2   D2

In [ ]:
#Esercizio 1: Unisci prima df1 e df2 includendo solo le chiavi comuni.
#Poi, unisci il risultato con df3 includendo tutte le chiavi di df3.

df1 = pd.DataFrame({
'chiave': ['K0', 'K1', 'K2', 'K3'],
'A': ['A0', 'A1', 'A2', 'A3']
})

df2 = pd.DataFrame({
'chiave': ['K0', 'K1', 'K2'],
'B': ['B0', 'B1', 'B2']
})

df3 = pd.DataFrame({
'chiave': ['K1', 'K2', 'K4'],
'C': ['C1', 'C2', 'C4']
})

print("df1\n",df1,"\n")
print("df2\n",df2,"\n")
print("df3\n",df3)

df1
   chiave   A
0     K0  A0
1     K1  A1
2     K2  A2
3     K3  A3

df2
   chiave   B
0     K0  B0
1     K1  B1
2     K2  B2

df3
   chiave   C
0     K1  C1
1     K2  C2
2     K4  C4

In [33]:
merged_1_2 = pd.merge(df1,df2, on = "chiave")

print("Merge df1-df2:\n",merged_1_2)

Merge df1-df2:
   chiave   A   B
0     K0  A0  B0
1     K1  A1  B1
2     K2  A2  B2

In [38]:
pd.merge(df3,merged_1_2, on = "chiave", how = "left")

  chiave   C    A    B
0     K1  C1   A1   B1
1     K2  C2   A2   B2
2     K4  C4  NaN  NaN